<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict SoC Battery Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="Time [s]" step="any" placeholder="Time" required="required" />
        <input type="number" name="Velocity [km/h]" step="any" placeholder="Velocity" required="required" />
		<input type="number" name="Elevation [m]" step="any" placeholder="Elevation" required="required" />
              <input type="number" name="Throttle [%]" step="any" placeholder="Throttle" required="required" />
                <input type="number" name="Motor Torque [Nm]" step="any" placeholder="Motor Torque" required="required" />
                  <input type="number" name="Longitudinal Acceleration [m/s^2]" step="any" placeholder="Longitudinal Acceleration" required="required" />
                    <input type="number" name="Battery Voltage [V]" step="any" placeholder="Battery Voltage" required="required" />
                      <input type="number" name="Battery Current [A]" step="any" placeholder="Battery Current" required="required" />
                         <input type="number" name="Battery Temperature [°C]" step="any" placeholder="Battery Temperature" required="required" />
                           <input type="number" name="max. Battery Temperature [°C]" step="any" placeholder="Max Battery Temperature" required="required" />
              

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
